@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-VariableFont_wght.ttf') format('ttf');
  }

.container {
    /* width: 100vw; */
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(158.86deg, #1C2A34 10.36%, #111A20 49.58%, #111A20 49.58%);
    padding: 20px;
	padding-left: calc(20%*9/16);
    padding-right: calc(20%*9/16);
    font-family: Jost, sans-serif;
}

.nav a {
    font-family: Jost, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #ECF8FF;
    margin-left: 10px;
    font-style: normal;
}
.menu-items a {
    margin-left: 30px;
    font-size: 14px;
}
.menu-items {
    padding-top: 5px;
}

.nav a:hover {
    color: #82F9A1;
    text-shadow: 0px 0px 76px rgba(188, 251, 195, 0.3);
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.nav img {
    margin-right: 21px;
}

.cta-text h3 {
    font-family: Jost, sans-serif;
    color: #82F9A1;
    text-shadow: 0px 0px 76px rgba(188, 251, 195, 0.3);
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 142%;
}

.cta-text {
    padding-top: 120px;
}
.cta-text a {
    color: #1DA1F2;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid #1DA1F2;
}
.cta-text .git {
    color: #EA4C89;
    border-bottom: 2px solid #EA4C89;
}
.cta-text .dev {
    color: #82F9A1;
    border-bottom: 2px solid #82F9A1;
}

.cta-text p {
    margin-top: 30px;
    font-family: Jost, sans-serif;
    color: #ECF8FF;
    text-shadow: 0px 0px 76px rgba(188, 251, 195, 0.3);
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 180%;
}

.badges {
    display: flex;
    flex-flow: wrap;
    margin-top: 20px;
    margin-left: 0;
    font-family: Jost, sans-serif;
    font-size: 11px;
    font-weight: 700;
}

.badge {
  width:max-content;
  height:20px;
  background-color:#1DA1F2;
  border-radius:25px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:2px;
  margin-right:5px;
  padding-right:10px;
  cursor: pointer;
  transition: ease-in-out all 0.5s;
  margin-bottom: 5px;
}

.icons
{
  width:20px;
  height:20px;
  /* background-color:black; */
  border-radius:20px;
  margin:5px;
  /* background-color:rgb(23,23,23); */
  
  background-size:25px 25px;
  background-repeat:no-repeat;
  background-position: center;
}

.badge:hover {
    background-color: #EA4C89;
    color: white;
}
.icons:hover {
    background-color: #EA4C89;
}

.articles h1 {
    color: #82F9A1;
    font-family: Jost, sans-serif;
    font-size: 23px;
    font-weight: 900;
}
.articles .header {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.articles .header a {
    text-decoration: none;
    color: #1DA1F2;
    font-style: italic;
    font-size: 12px;
}

.articles .header a:hover {
    border-bottom: 1px #82F9A1 dashed;
    color: #82F9A1;
}

.latests {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.article {
    cursor: pointer;
}
.articles .latests .article a {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height */
    /* rw/text10 */
    color: #ECF8FF;
    margin-top: 7px;
    padding-bottom: 0;
    text-decoration: none;
    transition: ease-in-out all 0.5s;
    display: flex;
    overflow-y: visible;
}
.articles .latests .article p {
    font-weight: normal;
    font-size: 9px;
    line-height: 18px;
    font-style: italic;
    margin-left: 26px;
    /* identical to box height */
    /* rw/blue50 */
    color: #5E8CA7;
}

.articles .latests .article h4:hover {
    color: #82F9A1;
    border-bottom: 1px #82F9A1 dashed;
}

.article img {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    position: relative;
    margin-bottom: -12px;
}
